* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font: 15px/1.5 Lato, sans-serif;
    padding: 3em 1em;
}

main {
    padding: 0.15em;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 1200px;
}

.container {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.calendar {
    display: flex;
}

.calendar div {
    padding: 2em;
    border: 1px solid #ddd;
    text-align: center;
    flex-grow: 1;
}

.week {
    display: flex;
    flex-wrap: wrap;
}

.notes {
    display: flex;
    flex-wrap: wrap;
}

.notes div:first-child {
    border-top-right-radius: 6px;
}

.notes div:last-child {
    border-bottom-right-radius: 6px;
}

.week div:nth-child(1),
.week div:nth-child(7) {
    flex: 0 0 100%;
}

.week div:nth-child(1) {
    border-top-left-radius: 6px;
}

.week div:nth-child(8) {
    border-bottom-left-radius: 6px;
}