body {
    background-color: #eee;
    font-family: Lato, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 1em;
    gap: 1rem;
    max-width: 1200px;
    background-color: #fff;
    margin: 2rem 4rem;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.flex-item {
    padding: 1.5rem;
    border: 2px solid #ddd;
    border-radius: 4px;
}

header.flex-item,
footer.flex-item {
    flex: 0 0 100%;
}

main.flex-item {
    flex: 0 0 65%;
}

aside.flex-item {
    flex: 1 0 auto;
}