/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* styles */
body {
    padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-container .flex-item {
    background-color: #eee;
    padding: 20px;
    border: 2px solid #000;
}

/* this task */
.flex-container {
    justify-content: flex-start;
}

.flex-container.justify-content-center {
    justify-content: center;
}

.flex-container.justify-content-flex-end {
    justify-content: flex-end;
}

.flex-container.justify-content-space-between {
    justify-content: space-between;
}

.flex-container.justify-content-space-around {
    justify-content: space-around;
}

.flex-container.justify-content-space-evenly {
    justify-content: space-evenly;
}