body {
    background-color: #e4e978;
    padding: 0;
    margin: 0;
    width: 700px;
}

section article, header {
    background-color: #f2f4c0;
}

article, header, section > article {
    margin: 15px 10px;
    padding: 5px 15px;
}

header, section > article {
    border: 1px solid #b2ad7d;
}

section > article {
    /* color: #5c6e91; */
    color: #4C7658;
    font-style: italic;
}

/* This doesn't work! Why - I do not know! */
section > article:nth-child(1) > p:nth-child(1) {
    font-weight:bold;
}

section > article:nth-child(2) > h2 {
    font-size: 16px;
}