/* NOT completed:
   - nav > a are NOT in the top with SITE TITLE
   - two images are NOT surrounded by the text
*/


body {
    background-color: rgb(238, 238, 238);
    margin: 40px 45px 0 80px;
    font-size: 26px;
    display: column;
}

nav ul li a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: rgb(0, 102, 0);
}

blockquote, h1, h2, h3 {
    font-family: Georgia, serif;
}

h1, h2, h3 {
    font-size: 0.9em;
    line-height: 1.2;
    font-weight: 500;
}

hr {
    margin-top: 7px;
    margin-bottom: 20px;
    border: 1.5px solid black;
}

/* Header section */
header {
    font-family: Helvetica, sans-serif;
    display: flex;
    width: 100%;
}

header h1 {
    margin-top: 8px;
}

header p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    align-items: flex-start;
}

header nav {
    vertical-align: text-top;
    width: 35%;
    max-width: 350px;
    margin-left: auto;
}

header nav ul {
    margin: 0;
    display: inline-block;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    font-size: 11px;
    color: rgb(0, 102, 0);
    padding: 0 10px 0 0;
}

.main-aside {
    display: flex;
}

/* Main section */
main {
    width: 65%;
}

h1 {
    margin: 12px 0 0 0;
}

section p {
    font-family: Helvetica, sans-serif;
}

section p, blockquote {
    font-size: 10px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: top;
}

.first-image,
.second-image {
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    width: 140px;
    height: auto;
    padding: 5px 0 0 0;
    text-align: center;
}

.text-image {
    display: flex;
    align-items: flex-start;
}

.text {
    flex: 1;
}

.text > p:nth-child(2) {
    margin: 0;
}

.second-image {
    height: 200px;
    margin-left: 20px;
    margin-top: 10px;
}

section img {
    width: 130px;
}

article > section > h2 {
    font-size: 0.7em;
}

article > section > p:nth-of-type(2) {
    margin-top: 3px;
}

article > section > h2:nth-of-type(1) {
    margin: 30px 0 5px 0;
}


article > section > h2:nth-of-type(2) {
    margin: 30px 0 0 0;
}

.text-blockquote {
    display: flex;
    align-items: flex-start;
}

.text-blockquote > p {
    border-right: 3px solid #DDDDDD;
    padding-right: 15px;
    flex: 5 5 50%;
}

.blockquote {
    font-style: italic;
    color: #4d4d4d;
    flex: 5 5 50%;
}

.blockquote > blockquote:nth-child(1) {
    margin: 8px 0 11px 20px;
}

.blockquote > blockquote:nth-child(2) {
    display: block;
    text-align: end;
    margin: 8px 0 0 0;
}

.first-image {
    margin-right: 20px;
    margin-top: 10px;
}

/* Aside section */
aside {
    width: 30%;
    margin-left: 35px;
}

aside h3 {
    margin: 0 0 10px 0;
    font-size: 0.7em;
}

section:nth-child(2) h3 {
    margin-top: 20px;
}

aside nav ul {
    margin: 0;
    padding-left: 30px;
}

aside nav ul li {
    font-size: 0.5em;
    line-height: 1.2;
}