body {
    margin: 0;
    padding: 20px 20px 20px 20px;
    width: 480px;
    background-color: #f9f7cf;
}

header {
    background-color: #f2dcbb;
    padding: 5px 15px 5px 15px;
}

header p {
    font-size: 22px;
    font-weight: bold;
}

footer {
    background-color: #f2dcbb;
    padding: 5px 15px 5px 15px;
}