<div class="full-screen">
    <div class='not-found'>
        <div class="error-message">
            <h1>404 Page not found</h1>
            <p class="goBack">Go Back to <a href="/">HOME</a></p>
        </div>
    </div>
</div>