* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1em;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 320px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.2);
}

img {
    display: block;
    /* width: 320px; */
    width: 100%;
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
}

main, footer {
    background-color: white;
    width: 320px;
}

main {
    padding: 0.8em 1.5em;
}

main h4 {
    margin-bottom: 0.5em;
}

main p {
    font-size: 0.88em;
    line-height: 1.2;
    margin-bottom: 1.5em;
}

footer {
    padding: 0 1.5em;
    font-size: 0.88em;
    overflow: hidden;
    /* border-bottom-left-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
}

footer p {
    font-weight: bold;
}

footer a {
    color: black;
    font-style: italic;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1.5em;
}