/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles */
body {
    padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
}

.flex-container .flex-item {
    background-color: #eee;
    padding: 20px;
    border: 2px solid #000;
    width: 170px;
}

/* this task */
.flex-container .flex-item {
    flex-shrink: 1;
}

.flex-container.flex-shrink-zero .flex-item {
    flex-shrink: 0;
}

.flex-container.flex-shrink-2nd-only .flex-item {
    flex-shrink: 0;
}

.flex-container.flex-shrink-2nd-only .flex-item:nth-child(2) {
    flex-shrink: 1;
}