body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: blue;
}

ul > li {
    font-weight: bold;
    list-style-type: circle;
}

div + p {
    background-color: lightgray;
}

span {
    color: red;
}

p ~ span {
    font-weight: bold;
}